name: CI

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - 'master'

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        python-version: [ "3.7", "3.8", "3.9" ]
    runs-on: ubuntu-latest
    steps:
      - name: Set up Taskwarrior
        run: |
          sudo apt-get install -y taskwarrior

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Load cached pip packages
        id: cached-pip-dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('poetry.lock') }}

      - name: Install dependencies
        if: steps.cached-pip-dependencies.outputs.cache-hit != 'true'
        run: pip install .

      - name: List installed packages
        run: pip list

      - name: Test
        run: ./test/test.sh

  release:
    if: ${{ startsWith(github.event.ref, 'refs/tags/') }}
    needs: test
    runs-on: ubuntu-latest
    env:
      POETRY_VERSION: '1.1.8'
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Load cached pip packages
        id: cached-pip-dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ env.POETRY_VERSION }}

      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.1.3
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - name: Release
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build

      - uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          files: dist/*
